<div class="routes">
  <span><a href="/">Home</a></span>
  <% routes.forEach(route => { %>
  <img src="/icons/right-arrow.svg" alt="" />
  <span><a href="/shop/category/<%=route%>"><%=route%></a></span>
  <% }) %>
</div>
