<div id="categoryModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Create New Category</h2>
    <p>Please enter details of the Category</p>
    <%- include("./errors.ejs") %>
    <form action="/dashboard/createCategory" method="post">
      <label for="name">Name</label>
      <input name="name" type="text" id="name" />
      <div class="modal-actions">
        <button id="confirm-button" type="submit">Confirm</button>
      </div>
    </form>
  </div>
</div>
