<footer>
  <div class="footer-columns">
    <div class="products">
      <h4>PRODUCTS</h4>
      <ul>
        <li>Hardware</li>
        <li>Ramps</li>
        <li>Rails</li>
        <li>Parks</li>
        <li>Skateboards</li>
        <li>Clothing</li>
        <li>Accessories</li>
      </ul>
    </div>
    <div class="company-info">
      <h4>COMPANY INFO</h4>
      <ul>
        <li>About us</li>
        <li>Team</li>
        <li>Blackriver Pirate Crew</li>
      </ul>
    </div>
    <div class="shop-service">
      <h4>SHOP SERVICE</h4>
      <ul>
        <li>Imprint</li>
        <li>Cookies</li>
        <li>Privacy Policy</li>
        <li>Right of withdrawal</li>
        <li>Terms & Conditions</li>
      </ul>
    </div>
    <div class="support">
      <h4>SUPPORT</h4>
      <ul>
        <li>Contact</li>
        <li>Returns</li>
        <li>Shipping</li>
        <li>Shipping Fingerboard Parks</li>
        <li>Newsletter</li>
      </ul>
    </div>
    <div class="social">
      <h4>SOCIAL</h4>
      <ul>
        <li>Blog</li>
        <li>Youtube</li>
        <li>Instagram</li>
        <li>Tiktok</li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="logo">
      <img src="/images/logo-blackriver.png" alt="" />
    </div>
    <div>
      <p>© 2024 Blackriver Fingerboard Shop - All Rights Reserved</p>
    </div>
  </div>
</footer>
