<nav>
  <div class="logo">
    <a href="/">
      <img src="/images/logo-blackriver.png" alt="" />
    </a>
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/shop/category/fingerboards">Fingerboards</a>
    <a href="/shop/category/trucks">Trucks</a>
    <a href="/shop/category/wheels">Wheels</a>
    <a href="/shop/category/tapes">Tapes</a>
  </div>
  <div class="actions">
    <button>
      <img src="/icons/search.svg" alt="" />
    </button>
    <button>
      <img src="/icons/user.svg" alt="" />
    </button>
    <button>
      <img src="/icons/bag.svg" alt="" />
    </button>
  </div>
</nav>
