<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/indexPage.css" />
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/footer.css">
    <title>Inventory App</title>
  </head>
  <body>
    <%- include("partials/nav.ejs") %>
    <header>
      <p>Copy the magic of skateboarding</p>
      <p>
        Find your perfect setup, whether you’re just starting out or shredding
        like a pro.
      </p>
    </header>
    <div class="main"></div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
