.routes {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 2em;
  text-transform: capitalize;
  font-size: 0.9em;
}
.routes span {
  color: rgb(153, 145, 131);
}
.routes img {
  height: 1.3em;
}

main {
  padding: 2em;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 400px));
  gap: 3em;
}

.item {
  display: grid;
  /* flex-direction: column; */
  gap: 1em;
}

.item img {
  border-radius: 4px;
  width: 100%;
}
.item button {
  width: 100%;
  border-style: none;
  background-color: #13151600;
  font-size: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}

.item button:hover {
  background-color: rgba(255, 255, 255, 0.312);
  transform: scale(1.05);
}
