.routes {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 2em;
  text-transform: capitalize;
  font-size: 0.9em;
}
.routes span {
  color: rgb(153, 145, 131);
}
.routes img {
  height: 1.3em;
}

.item img {
  width: 100%;
}

.item-actions {
  display: grid;
  grid-template-columns: 1fr auto;
}

.item-actions img {
  height: 1em;
}

main .item {
  padding: 6em 10em;
  background-color: rgba(36, 35, 35, 0.559);
  display: grid;
  grid-template-columns: 800px 1fr;
  gap: 2em;
}
main .item-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.item-options {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.item-options h4 {
  text-transform: capitalize;
}

.option-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.option-buttons button {
  background-color: #13151600;
  padding: 0.5em 1em;
  width: auto;
  border: 1px solid rgba(121, 119, 119, 0.356);
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 1em;
  cursor: pointer;
}
.option-buttons button:hover {
  border-color: rgba(121, 119, 119, 0.725);
}

.cart-button {
  padding: 1em 4em;
  color: white;
  background-color: rgba(203, 221, 63, 0.684);
  font-size: 1em;
  width: 300px;
  border-radius: 3px;
  border-style: none;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: rgba(255, 255, 255, 0.271);
}

.product-info * {
  color: rgba(255, 255, 255, 0.551);
}
.product-description {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main img {
  border-radius: 8px;
}
